.download__Links {
  display: flex;
  height: 40px;
  font-size: 10px;
  margin: 30px 0px;
}
.download__Link {
  display: flex;
  align-items: center;
  margin-inline: 10px;
  color: white;
  /* text-align: center; */
  /* border-radius: 5px; */
  width: 100%;
}
.download img{
  min-width: 135px;
 height: 40px;
}
.download__Link:nth-child(2) img{
  min-width: 155px;
  height: 60px;
}
